name = "cron-jobs"
main = "src/worker.ts"
compatibility_date = "2023-07-17"

kv_namespaces = [
  { binding = "CronJobsTimestamp", id = "1234" }
]
[env.staging]
kv_namespaces = [
  { binding = "CronJobsTimestamp", id = "6fbc191da931473393d5fbe612251d29" }
]
services = [
  { binding = "DISCORD_BOT", service = "discord-slash-commands" }
]

[env.production]
kv_namespaces = [
	{ binding = "CronJobsTimestamp", id = "3a10f726c95d4afea9dee5fd00f029b9" }
]
services = [
  { binding = "DISCORD_BOT", service = "discord-slash-commands" }
]

[triggers]
crons = ["0 */6 * * *","0 */11 * * *","*/20 * * * *","*/30 * * * *" ]

# # Durable Object binding - For more information: https://developers.cloudflare.com/workers/runtime-apis/durable-objects
# [[durable_objects]]
# binding = "MY_DURABLE_OBJECT"
# class_name = "MyDurableObject"

# # Bucket binding - For more information: https://developers.cloudflare.com/workers/runtime-apis/kv#bucket
# [[buckets]]
# binding = "MY_BUCKET"
# name = "my-bucket"
# bucket_id = "yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy"

# # Service binding - For more information: https://developers.cloudflare.com/workers/platform/services
# [[routes]]
# binding = "MY_SERVICE"
# pattern = "/api/*"
# script = "api.js"

# # Queue binding - For more information: https://developers.cloudflare.com/workers/runtime-apis/queues
# [[queues]]
# binding = "MY_QUEUE"
# name = "my-queue"
# zone_id = "zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz"

# [env.production]
# MY_VARIABLE = "production_value"

# [env.staging]
# MY_VARIABLE = "staging_value"

# [env.shared]
# SHARED_VARIABLE = "shared_value"
